* {
  padding: 0px;
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* outline: 2px solid black; */
}

header {
  background-color: rgb(130, 80, 177);
  height: 75px;
}

header h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
}

.search {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#city-search {
  margin-top: 10px;
}

#submit-search {
  background-color: rgb(130, 80, 177);
  margin: 10px;
}

main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.current-weather {
  height: 20vh;
  outline: 1px solid black;
  width: 70vw;
  height: auto;
  padding: 10px;
}

.current-weather p {
  line-height: 2;
}

.five-day {
  display: flex;
  flex-direction: column;
}

.five-day h2 {
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
}

#weather-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 25px;
}

#weather-card img {
  height: 50%;
  width: 50%;
}

.past-search-button {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 10px;
  background-color: rgb(74, 74, 74);
  color: white;
}
